version: '3.8'

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    ports:
      - "8080:8080"
    env_file:
      - .env
#    environment:
#      - SPRING_DATASOURCE_URL=${RDB_URL}
#      - SPRING_DATASOURCE_USERNAME=${RDB_USERNAME}
#      - SPRING_DATASOURCE_PASSWORD=${RDB_PASSWORD}
#      - SPRING_JPA_HIBERNATE_DDL_AUTO=none
    networks:
      - goodjob-net

networks:
  goodjob-net:
    driver: bridge