.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        color: #333;
        margin: 0 0 0.75rem;
    }

    &__message {
        font-size: 0.95rem;
        color: #666;
        margin: 0;
    }
}
